#contein { 
    display: none
}

#loader { 
    width: 200px;        
    position: absolute;        
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
}

#loader img { 
    width: 30%;
    margin: 0 auto;
    display: block;
    padding-bottom: 25px;
}

